@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'DynaPuff', cursive;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}